body {
  /* background-color: #ccd6e8; */
  /* background-image: linear-gradient(#cce6e8,#cce4e8); */
  /* background-image: radial-gradient(#cce6e8,#cce4e8); */
  background-color: #8D99AE;
  /* background-color: #2B2D42; */
}

/* ForeWord */
.card-body {
  padding: 0;
  padding-left: 2px;
  background-color: #dadfe8;
  /* border: 1px solid gray; */
}

/* Projects */
.img-fluid {
  float: left;
  margin-right: 12px;
  border: 1px solid black;
}

.container-fluid {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

article {
  /* Projects Background: Light blue color (#7fa4e2)*/
  /* background: #7fa4e2;   */
  /* background-image: linear-gradient(#7fbde2,#7fa4e2); */
  /* background-image: radial-gradient(#7fbde2, #7fa4e2); */
  background-color: #5b77a5;
  /* color: gray; */
  border: 1px solid gray;
}

/* Projects */
.submenu {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1px;
}

.sticky-offset {
  /*top: 56px;*/
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}

#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}
