

/* Header & Footer
------------------------------------*/
.resume-header,
footer {
  background: #2B2D42;
  color: #8D99AE;
}
.resume-header h1,
.resume-header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
.resume-header {
  /*text-align: center;*/
}
.profile-img {
  /*width: 300px;*/
  border-radius: 50%;
  /*float: left;*/
  /*margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

body{
  margin: 0;
}


/* Skills
------------------------------------*/
.skills {
    background: #EDF2F4;
}

/* Programming Experience */

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
}
th{
  font-size: 2rem;
  margin: 1px;
}
tr:nth-child(even) {
  background-color: #BBCAE3;
}
tr:nth-child(odd) {
  /* background-color: #5B77A5; */
  background-color: #879EC5;
}
/* Table */
.vertical-menu {
  width: 100%;
  height: 200px;
  overflow-y: auto;
}
.programming-experience{
  background-color:red ;
  color: #2B2D42;
  background: #2B2D42;
}
.center-cell{
  text-align: center;
}
.btn{
  color: white;
  margin: 2px;
}


/* Programming Experience */


/* Education
------------------------------------*/
.education {
    background: #8D99AE;
}

/* Work Experience
------------------------------------*/
.work {
    background: #5b77a5;
}
