.W3navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.W3navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.W3dropdown {
    float: right;
    overflow: hidden;
}

.W3dropdown .W3dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.W3navbar a:hover, .W3dropdown:hover .W3dropbtn, .W3dropbtn:focus {
    background-color: #99ccff;
    border-radius: 5px;
}

.W3dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}


.W3dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.W3dropdown-content a:hover {
    background-color: #ddd;

}
.W3dropdown{
  margin-right: 1px;
  border-radius: 5px;
  background-color: #99ccff;
}

.show {
    display: block;
}

#myDropdown {
  transform: translateX(-58%);
  color: white;
  background-color: #99ccff;
  border-radius: 5px;
}
