.track-name{
  padding-right: 40%;
  margin-right: 20%;
  width: 40%;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.song {
  display: flex;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.song img {
  margin-right: 10px;
}

.song:hover {
  background-color: #99ccff;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.song:hover img {
  filter: brightness(70%);
}

.song:hover p {
  font-weight: bold;
}

#footer-button{
  margin-left: 2px;
}

/* Makes background extend all the way to the botom on mobile */
body, html {
  min-height:100%;
  height:100%;
}

body {
  background: linear-gradient(to bottom, #ffffff, #aad8eb);
}











/* Modal */

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay background */
  opacity: 1;
  transition: opacity 500ms;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.modal-content img {
  max-width: 100%;
  height: auto;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
}

.hidden {
  opacity: 0;
}

.spoopy-image{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}