.container{
  padding-top: 45px;
  max-width: 75%;
  /* background-color: #8D99AE; */
}

/* Why No work? */
header{
  z-index: 1;
}

.thumbnail{
  z-index: -1;
}

footer {
  margin-top: 15px;
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
